MFI_Indi_MFI_Period={{ (period | default(0) | int) }}
MFI_Indi_MFI_Shift={{ shift | default(0) }}
MFI_LotSize={{ lot_size | default(0) }}
MFI_PriceStopLevel={{ price_stop_level | replace("(float)", "") | float | default(0) }}
MFI_PriceStopMethod={{ price_stop_method | default(0) }}
MFI_SignalCloseLevel={{ signal_close_level | replace("(float)", "") | float | default(0) }}
MFI_SignalCloseMethod,1=-4
MFI_SignalCloseMethod,2=1
MFI_SignalCloseMethod,3=4
MFI_SignalCloseMethod,F=1
MFI_SignalCloseMethod={{ signal_close_method | default(0) }}
MFI_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
MFI_SignalOpenFilterMethod={{  signal_open_filter | default(1) }}
MFI_SignalOpenLevel={{ signal_open_level | replace("(float)", "") | float | default(0) }}
MFI_SignalOpenMethod={{ signal_open_method | default(0) }}
MFI_TickFilterMethod={{ tick_filter_method | default(1) }}
