MFI_Indi_MFI_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
MFI_Indi_MFI_MA_Method={{ ma_method | default(0) }}
MFI_Indi_MFI_Period={{ period | default(4) }}
MFI_Indi_MFI_Shift={{ shift | default(0) }}
MFI_LotSize={{ lot_size | default(0) }}
MFI_PriceStopLevel={{ price_stop_level | default(0) }}
MFI_PriceStopMethod={{ price_stop_method | default(0) }}
MFI_SignalCloseLevel={{ signal_close_level | default(0) }}
MFI_SignalCloseMethod={{ signal_close_method | default(0) }}
MFI_SignalOpenBoostMethod,1=1
MFI_SignalOpenBoostMethod,2=1
MFI_SignalOpenBoostMethod,3=8
MFI_SignalOpenBoostMethod,F=1
MFI_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
MFI_SignalOpenFilterMethod={{  signal_open_filter | default(1) }}
MFI_SignalOpenLevel={{ signal_open_level | default(0) }}
MFI_SignalOpenMethod={{ signal_open_method | default(0) }}
MFI_TickFilterMethod={{ tick_filter_method | default(1) }}
