MFI_Indi_MFI_Period,1={{ (period | default(0) | int) - 10 }}
MFI_Indi_MFI_Period,2=4
MFI_Indi_MFI_Period,3={{ (period | default(0) | int) + 10 }}
MFI_Indi_MFI_Period,F=1
MFI_Indi_MFI_Period={{ (period | default(0) | int) }}
MFI_Indi_MFI_Shift={{ shift | default(0) }}
MFI_LotSize={{ lot_size | default(0) }}
MFI_PriceStopMethod=0
MFI_SignalOpenFilterMethod=1
MFI_SignalOpenLevel={{ signal_open_level | replace("(float)", "") | float | default(0) }}
MFI_TickFilterMethod=1
